@import "tailwindcss";

@keyframes moveGradient {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

#first-page-container {
    background: linear-gradient(90deg,rgb(0, 0, 0) 0%, rgb(0, 87, 32) 100%);
    background-size: 200% 100%;
    animation: moveGradient 20s ease-in-out infinite alternate;
}

#title, #introduction {
    box-shadow: -10px 10px 0 rgb(0, 54, 20);
    transition: transform 500ms ease;
}

#title:hover, #introduction:hover {
    transform: translateX(10px);
}

#demoButton:hover, #button:hover {
    background-color: rgb(34, 197, 94);
    #demoText, #buttonText {
        color: black;
    }
}

.bullet-point-icon {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(90deg) brightness(1.2);
}