@import "tailwindcss";
@keyframes moveGradient {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

#first-page-container {
    background: linear-gradient(45deg,rgb(185, 0, 222) 20%, rgb(91, 0, 133) 100%);
    background-size: 200% 100%;
    animation: moveGradient 7s ease-in-out infinite alternate;
}

#title, #introduction {
    box-shadow: -10px 10px 0 rgb(67, 20, 110);
    transition: transform 500ms ease;
}

#title:hover, #introduction:hover {
    transform: translateX(10px);
}
