@import "tailwindcss";
@keyframes moveGradient {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

#first-page-container {
    background: linear-gradient(45deg,rgb(0, 255, 119) 0%, rgb(94, 0, 144) 100%);
    background-size: 200% 100%;
    animation: moveGradient 7s ease-in-out infinite alternate;
}

#title {
    box-shadow: -10px 10px 0 rgb(67, 20, 110);
}

#introduction {
    box-shadow: -10px 10px 0 rgb(67, 20, 110);
}